* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, san-serif, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue;
}
:root {
    --card-width: 200px;
    --card-height: 220px;
}
body {
    background: #f1f1f1;
}
.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.content {
    width: 100%;
    height: 100%;
}
.listMessage {
    font-family: Helvetica, Arial, san-serif;
    font-size: 2.125rem;
}
.card-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    grid-gap: 1rem;
    place-items: center;
}
.cardSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.cardBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 510px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.colorProperty {
    min-width: 230px;
}
.backContainer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
}
.backLink {
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 2.5px 5px 5px 0px rgba(132, 132, 130, 0.3);
    font-style: italic;
    text-align: center;
}
.backLink:hover {
    font-weight: bold;
    box-shadow: 2.5px 5px 5px 0px rgba(132, 132, 130, 0.2);
}
a {
    color: inherit;
    text-decoration: none;
}
@media (max-width: 560px) {
    .cardBox {
        flex-direction: column;
    }
    .colorProperty {
        margin-top: 10px;
    }
}
